@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ful3j7');
  src:  url('fonts/icomoon.eot?ful3j7#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ful3j7') format('truetype'),
    url('fonts/icomoon.woff?ful3j7') format('woff'),
    url('fonts/icomoon.svg?ful3j7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-floating_kakao:before {
  content: "\e901";
}
.icon-floating_instagram:before {
  content: "\e902";
  color: #fff;
}
.icon-floating_facebook:before {
  content: "\e903";
  color: #fff;
}
.icon-floating_blog:before {
  content: "\e904";
  color: #fff;
}
.icon-floating_youtube:before {
  content: "\e905";
  color: #fff;
}
.icon-floating_review:before {
  content: "\e900";
  color: #fff;
}
